@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Archivo Black', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}